.baseTela1{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    justify-content: space-around;
}
.introducao{
    padding-right: 2vw;
    width: 55vw;
    color: var(--dark-bg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.abertura{
    font-family: 'Fredoka One', cursive;
    color: var(--dark-bg);
    text-shadow: 5px 1px var(--green);
}

.margimText{
    margin-top: 20px;
}
.cardsPosition{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: var(--button-bg);
    justify-content: space-evenly;
    padding-bottom: 1vw;
    padding-top: 1vw;
    border: 1px solid white;
}
@media(max-width: 1000px){
    .abertura{
        font-size: 20px;
    }
    .margimText{
        font-size: 20px;
    }
}
@media(max-width: 563px){
    .abertura{
        font-size: 15px;
    }
    .margimText{
        font-size: 15px;
    }
}