.Card{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    margin: 10px;
    width: 9vw;
}
.Card:hover{
    border: 5px solid var(--green);
}
.divNome{
    background: var(--dark-bg-componet);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Fredoka One', cursive;
    height: 5vw;
}

.imgCard{
    width: 100%;
    height: 9vw;
}
@media(max-width: 1188px){
    .divNome{
        font-size: 10px;
        height: auto;
    }
}
@media(max-width: 563px){
    .divNome{
        font-size: 7px;
    }
}