.baseTela2{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 96vw;
    padding-right: 2vw;
    padding-left: 2vw;

}
.fonts{
    font-family: 'Fredoka One', cursive;
}
.espaco{
    margin-left: 15px;
}
.divCards2{
    display: flex;
    justify-content: space-around ;
    width: 100%;
}
.divDoJogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 32vw;
}
.headerResult{
    display: flex;
    justify-content: space-between;
}
.movimentosDoJogos{
    align-items: center;
    justify-content: space-between;
}
.placares{
    width: 100%;
    color: var(--dark-bg-componet);
}
.fimDeJogo{
    margin-top: 30px;
    flex-direction: column;
    align-items: center;

}
.removePlacares{
    display: none;
}
.adicionarPlacares{
    display: flex;
}
.placar2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    background: rgb(197, 197, 197);
    
}
.placar3{
    display: flex;
    align-items: center;
    background: var(--dark-bg-componet);
    color: white;
    height: 5vw;
}
.placar3Nomes{
    text-align: center;
    width: 30%;
}
.divNomePlacar{
    text-align: center;
    display: flex;
    justify-content: space-around;
    background: var(--green);
}
.jogadas{
    height: 8vw;
    width: 8vw;
    margin: 5px;
}
.imgJogadas5{
    border: 0px;
    width: 100%;
    height: 100%;
    border: none;
}
.divMovimentos{
    width: 96vw;
    border: 3px solid rgb(241, 241, 241) ;
    margin-top: 10px;
    justify-content: space-around;
}
.divMovimentosJogador{
    background: var(--button-bg);
    height: 100%;
    width: 33vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    padding-bottom: 0px;
}
.divMovimentosJogador2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movimentoItem{
    height: 7vw;
    width: 7vw;
}
.movimentoItem:focus{
    border: solid 5px var(--dark-bg-componet);
}

.escolhaJogadas{
    height: 7vw;
    width: 7vw;
    border: 1px solid black;
}
.divBotaoJogar{
    width: 33vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(190, 252, 181);
}
.botaoJogar{
    height: 5vw;
    width: 10vw;
    
}
.divMovimentoPc{
    background: var(--button-bg);
    width: 33vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.modalGanhou{
    background: var(--green);
    color: var(--dark-bg-componet);
}
.modalPerdeu{
    background: rgb(235, 91, 91);
    color: white
}
.modalEmpatou{
    background: rgb(173, 171, 171);
    color: black
}
.botaoVer{
    font-family: 'Fredoka One', cursive;
    margin-top: 20px;
}
